*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: auto;
  /* font-size: 20px; */
}

.back{
  width: 30%;
  margin: auto;
  height: auto;
  background-color: rgba(0,0,0,.4);
  margin-top: 50px;
  border-radius: 25px;
}

@media only screen and (max-width: 768px) {
  .back{
    width: 90%;
  }
}